In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F 
import numpy as np
from pyspark.sql.functions import col,sum,round

In [2]:
spark = SparkSession.builder.appName("name=Spark App").getOrCreate()

In [3]:
df = spark.read.format("csv"). \
    option("header", "true").\
    load("C:\\Users\\suran\\Downloads\\python_project\\sales-analysis-pyspark\\customer_sales_data.csv")

In [4]:
df.show(5)

+-----------+----------+--------+--------------+------------------+--------------------+---------+-----+--------+-------------+--------------+
|customer_id|product_id|quantity|price_per_unit|total_sales_amount|          sales_date|     city|state|discount|shipping_cost|payment_method|
+-----------+----------+--------+--------------+------------------+--------------------+---------+-----+--------+-------------+--------------+
|        685|        43|       5|         83.62|             418.1|2020-05-25 07:04:...|San Diego|   TX|    0.09|         5.71|   credit_card|
|        560|        32|       8|         64.81|            518.48|2024-04-26 15:13:...|  Houston|   TX|     0.2|         9.48|   credit_card|
|        630|        11|       4|         76.21|            304.84|2023-07-28 21:03:...| San Jose|   AZ|    0.13|         8.34|        paypal|
|        193|        73|       4|         64.01|            256.04|2023-06-03 01:26:...|  Houston|   CA|    0.17|        18.76|   credit_card|
|        836|        99|       1|         36.66|             36.66|2024-07-28 21:56:...|  Phoenix|   NY|    0.09|        17.73|   credit_card|
+-----------+----------+--------+--------------+------------------+--------------------+---------+-----+--------+-------------+--------------+
only showing top 5 rows

In [ ]:
### Find total sales by states

state_wide_sales = df.groupBy("state").agg(round(sum("total_sales_amount"),2).alias("Total_sales"))

In [ ]:
statewise_sum = df.groupBy("state").agg(round(sum("total_sales_amount")/ 1000000, 2).alias("total_sales in M $"))

In [ ]:
statewise_sum.show(5)

+-----+------------------+
|state|total_sales in M $|
+-----+------------------+
|   AZ|             25.19|
|   CA|             75.65|
|   IL|             25.23|
|   PA|             25.24|
|   NY|             25.12|
+-----+------------------+
only showing top 5 rows

In [ ]:
top_10_products = df.groupBy("product_id").agg(round(sum("total_sales_amount")/1000000,2).alias("Total Sales in Million")).orderBy(F.col("Total Sales in Million").desc())

In [ ]:
top_10_products.show(5)

+----------+----------------------+
|product_id|Total Sales in Million|
+----------+----------------------+
|        18|                  2.63|
|        75|                  2.62|
|        89|                  2.61|
|        86|                  2.61|
|        73|                   2.6|
+----------+----------------------+
only showing top 5 rows

In [ ]:
## Top 5 states by sales in million

top_5_states = df.groupBy("state").agg(F.round(F.sum("total_sales_amount")/1000000,2).alias("total_sales_million")).orderBy(F.col("total_sales_million").desc())

In [ ]:
top_5_states.show(5)

+-----+-------------------+
|state|total_sales_million|
+-----+-------------------+
|   TX|              75.91|
|   CA|              75.65|
|   PA|              25.24|
|   IL|              25.23|
|   AZ|              25.19|
+-----+-------------------+
only showing top 5 rows

In [ ]:
# Top 10 cities by sales 

top_10_cities = df.groupBy("city").agg(F.round(F.sum("total_sales_amount")/1000000,2).alias("total_sales_million")).orderBy(F.col("total_sales_million").desc())
top_10_cities.show(10)

+------------+-------------------+
|        city|total_sales_million|
+------------+-------------------+
|    San Jose|              25.45|
| Los Angeles|              25.35|
|      Dallas|              25.32|
| San Antonio|              25.27|
|Philadelphia|              25.26|
|     Phoenix|              25.22|
|   San Diego|              25.19|
|    New York|              25.19|
|     Chicago|              25.06|
|     Houston|              25.02|
+------------+-------------------+

In [ ]:
## Show the results 

state_wide_sales.show()
statewise_sum.show()
top_10_products.show()
top_5_states.show()
top_10_cities.show()

+-----+-------------+
|state|  Total_sales|
+-----+-------------+
|   AZ|2.518615761E7|
|   CA|7.564927844E7|
|   IL|2.523478658E7|
|   PA|2.524279932E7|
|   NY|2.511794722E7|
|   TX|7.590743722E7|
+-----+-------------+

+-----+------------------+
|state|total_sales in M $|
+-----+------------------+
|   AZ|             25.19|
|   CA|             75.65|
|   IL|             25.23|
|   PA|             25.24|
|   NY|             25.12|
|   TX|             75.91|
+-----+------------------+

+----------+----------------------+
|product_id|Total Sales in Million|
+----------+----------------------+
|        18|                  2.63|
|        75|                  2.62|
|        89|                  2.61|
|        86|                  2.61|
|        42|                   2.6|
|        73|                   2.6|
|        12|                   2.6|
|        66|                   2.6|
|        91|                   2.6|
|        69|                  2.59|
|        34|                  2.59|
|        43|                  2.59|
|        31|                  2.59|
|        44|                  2.59|
|        81|                  2.59|
|         9|                  2.59|
|        57|                  2.59|
|        35|                  2.58|
|        28|                  2.58|
|        52|                  2.58|
+----------+----------------------+
only showing top 20 rows

+-----+-------------------+
|state|total_sales_million|
+-----+-------------------+
|   TX|              75.91|
|   CA|              75.65|
|   PA|              25.24|
|   IL|              25.23|
|   AZ|              25.19|
|   NY|              25.12|
+-----+-------------------+

+------------+-------------------+
|        city|total_sales_million|
+------------+-------------------+
|    San Jose|              25.45|
| Los Angeles|              25.35|
|      Dallas|              25.32|
| San Antonio|              25.27|
|Philadelphia|              25.26|
|     Phoenix|              25.22|
|   San Diego|              25.19|
|    New York|              25.19|
|     Chicago|              25.06|
|     Houston|              25.02|
+------------+-------------------+

### Integrate it with git 


` git config --global user.name "suranimayur" `

` git config --global user.email "surani.mayur@gmail.com" `

### Authenticate with GitHub 

git credential-manager-core configure

git remote add origin "url"

###### Check the status of the repository

git remote -v 

###### Add files to the staging area

git add.

###### Commit the changes

git commit -m "Add Spark code for data analysis"

###### Push the changes to the remote repository

git push -u origin master 

###### To pull changes from remote repository

git pull origin master

Thanks

Thanks for watching this video